html {
  font-size: 24px;
}
div {
  margin: 16px;
  border: 1px solid burlywood;
}

.horizontal > span {
  background-color: aqua;
}

.vertical > span {
  background-color: coral;
}
div.horizontal {
  display: flex;
  height: 50px;
  justify-content: space-around;
}
div.vertical {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  align-items: center;
}
